/one-identity-templates
/Output
/Analyzer
/Scripts
/Content/Common
/Content/Hotfixes
/Content/ReleaseNotes
/Content/Resources/Images/CadenceIcons
/Content/Resources/Images/Common
/Content/Resources/MasterPages
/Content/Resources/PageLayouts
/Content/Resources/Snippets
/Content/Resources/Stylesheets
/Content/Resources/TableStyles
/Project/Advanced/
/Project/ConditionTagSets/CommonConditions_DoNotEdit.flcts
/Project/Reports
/Project/Skins
/Project/TOCs/Common
/Project/Targets/Common
/Project/VariableSets/CommonVariables.flvar
/Project/Destinations
/Project/Imports
/Project/Exports
/Project/Users
/_rels
*~
*.bak
OneIdentity_TemplateForNewProjects.flprj
