#################################################################################
# Placing a # in front of any of the items listed below (e.g., #analyzer) will  #
# allow these items to be pushed to your Git repository. Keep in mind the more  #
# files you push to your repository, the more your performance may be affected. #
#################################################################################

/Output
/Analyzer
/FileSync
/Project/Users
/.svn
**/Thumbs.db

#################################################################################
# Add items to be ignored below                                                 #
#################################################################################

/FlareTestsAndScripts
/Scripts
/Content/Common
/Content/Guides/FlareTestsAndScripts
/Content/Guides/Images/FlareTestsAndScripts
/Content/Guides/TechComm
/Content/Hotfixes
/Content/ReleaseNotes
/Content/Resources/Images
/Content/Resources/MasterPages
/Content/Resources/PageLayouts
/Content/Resources/Snippets
/Content/Resources/Stylesheets
/Content/Resources/SyntaxHighlighting
/Content/Resources/TableStyles
/Content/SaaSReleaseNotes
/Content/Sources
/Project/Advanced/
/Project/ConditionTagSets/CommonConditions_DoNotEdit.flcts
/Project/ConditionTagSets/General.flcts
/Project/Reports
/Project/Skins
/Project/TOCs/Common
/Project/TOCs/1IUpgradeGuide.fltoc
/Project/Targets/Common
/Project/Targets
/Project/VariableSets/CommonVariables.flvar
/Project/VariableSets/General.flvar
/Project/VariableSets/TemplateGuideVariables.flvar
/Project/Destinations
/Project/Exports
/Project/Glossaries/GlossaryExample.flglo
/TestOutput
/_rels
*~
*.bak
*.props
OneIdentity_TemplateForNewProjects.flprj
docadmin.persist
docadmin.pkl
Thumbs.db*
debug.log
.venv
